version: "3.8"

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack-produtos
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      - SERVICES=lambda,dynamodb,sns,apigateway,iam,sts,cloudformation,logs
      - DEBUG=1
      - LAMBDA_EXECUTOR=local
      - AWS_DEFAULT_REGION=us-east-1
      - PERSISTENCE=0
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - localstack-network

networks:
  localstack-network:
    driver: bridge
